@import "tailwindcss";
@config "../tailwind.config.mjs";

html {
  @apply bg-neutral-50 dark:bg-neutral-950 text-[14.5px];
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-200 dark:bg-neutral-700 rounded-full hover:bg-gray-300 dark:hover:bg-neutral-600 transition-colors;
}

.center-flex {
  @apply flex items-center justify-center;
}

.responsive-flex {
  @apply flex flex-wrap;
}

.responsive-flex > * {
  @apply grow;
}

.merge-children {
  @apply grid grid-cols-1 grid-rows-1;
  grid-template-areas: 'merge';
}

.merge-children > * {
  grid-area: merge;
}
